body {   
background-image: url(../img/indexBackground.jpg);      
background-position: center center;      
background-repeat: no-repeat;        
background-attachment: fixed;      
background-size: cover;        
background-color: #464646; }

h1 {
    font-size: 400%;
    margin-top: 20%;
}

form {
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
}

.loginHelp {
    color: black;
    padding-top: 10%;
}